


<form>
  <div class="container">
    <nav class="navbar navbar-dark bg-primary row">

      <h1 class="text-center text-white"> {{title}} </h1>
    
    </nav>
    <div class="row">
  <div class="form-group col">
    
<input type="number" class="form-control" placeholder=" numero 1" [(ngModel)]= "operandoA"  name="operandoa">
<hr>

  <input type="number" class="form-control" placeholder=" numero 2" [(ngModel)]= "operandoB"  name="operandob">
  <hr>
  <button type="submit" class="btn  rounded.-sm" (click)="onSumar()" >CALCULAR</button>
    </div>
    <div class="col ">
      <div class="card">
    <p>numero 1 = {{operandoA}} numero 2 ={{operandoB}}</p>
    <p> resultado suma = {{resultado}}</p>
  </div>
</div>
   
  </div>
</div>
</form>

